{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Contact
{% endblock %}

{% block body %}
    <div id="contacts" class="main">
        <div class="row-fluid">
            <div class="span8">
                <h1>Contact</h1>
                {% if not app.session.flashbag.has('name') %}
                <form action="{{ path('contact') }}" method="post" class="form-horizontal">
                    <div class="control-group">
                        {{ form_errors(form.name) }}
                        {{ form_label(form.name, null, { 'label': 'Your name', 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.name, {'attr': {'class': 'input-xlarge'}}) }}
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.email) }}
                        {{ form_label(form.email, null, { 'label': 'Your e-mail', 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.email, {'attr': {'class': 'input-xlarge'}}) }}
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.message) }}
                        {{ form_label(form.message, null, { 'label': 'Your message', 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.message, {'attr': {'class': 'input-xlarge'}}) }}
                        </div>
                    </div>

                    {{ form_rest(form) }}
                    <input type="submit" name="submit" value="Submit" class="btn" />
                </form>
                {% else %}
                    <p>Thanks <strong>{{ app.session.flashbag.get('name')[0] }}</strong>, your message was sent successfully.</p>
                    <p>I'll get back to you as soon as possible.</p>
                {% endif %}
            </div>
            <div class="span4">
                <h2>Social</h2>
                <a href="http://www.flickr.com/photos/titomiguelcosta/" target="_blank"><img src="{{ asset('/images/social/flickr.png') }}" alt="" width="32" height="32"></a>
                <a href="http://pt.linkedin.com/in/titomiguelcosta" target="_blank"><img src="{{ asset('/images/social/linkedin.png') }}" alt="" width="32" height="32"></a>
                <a href="http://twitter.com/titomiguelcosta" target="_blank"><img src="{{ asset('/images/social/twitter.png') }}" alt="" width="32" height="32"></a>
                <a href="{{ path('blog_feed') }}" target="_blank"><img src="{{ asset('/images/social/rss.png') }}" alt="" width="32" height="32"></a>

                <h2>Programming</h2>
                <ul class="unstyled">
                    <li><a href="https://www.upwork.com/o/profiles/users/_~011882782f9f04d09b/" target="_blank">UpWork</a></li>
                    <li><a href="https://github.com/titomiguelcosta?tab=activity" target="_blank">GitHub</a></li>
                    <li><a href="https://connect.sensiolabs.com/profile/titomiguelcosta" target="_blank">Symfony</a></li>
                    <li><a href="https://coderwall.com/titomiguelcosta" target="_blank">coderwall</a></li>
                    <li><a href="https://masterbranch.com/d/titomiguelcosta" target="_blank">MasterBranch</a></li>
                </ul>
                
                <h2>Chat</h2>
                <ul class="unstyled">
                    <li><strong>Skype</strong>: titomiguelcosta</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}