{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Contact
{% endblock %}

{% block body %}
    <div id="contacts" class="main">
        <div class="row-fluid">
            <div class="span8">
                <h1>Contact</h1>
                {% if not app.session.flashbag.has('name') %}
                <form action="{{ path('contact') }}" method="post" class="form-horizontal">
                    <div class="control-group">
                        {{ form_errors(form.name) }}
                        {{ form_label(form.name, null, { 'label': 'Your name', 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.name, {'attr': {'class': 'input-xlarge'}}) }}
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.email) }}
                        {{ form_label(form.email, null, { 'label': 'Your e-mail', 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.email, {'attr': {'class': 'input-xlarge'}}) }}
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.message) }}
                        {{ form_label(form.message, null, { 'label': 'Your message', 'label_attr': {'class': 'control-label'} }) }}
                        <div class="controls">
                            {{ form_widget(form.message, {'attr': {'class': 'input-xlarge'}}) }}
                        </div>
                    </div>

                    {{ form_rest(form) }}
                    <input type="submit" name="submit" value="Send" class="btn" />
                </form>
                {% else %}
                    <p>Thanks <strong>{{ app.session.flashbag.get('name')[0] }}</strong>, your message was sent successfully.</p>
                    <p>I'll get back to you as soon as possible.</p>
                {% endif %}
            </div>
            <div class="span4">
                <h2>Social</h2>
                <a href="http://www.flickr.com/photos/titomiguelcosta/" target="_blank"><img src="{{ asset('/images/social/flickr.png') }}" alt="" width="32" height="32"></a>
                <a href="http://pt.linkedin.com/in/titomiguelcosta" target="_blank"><img src="{{ asset('/images/social/linkedin.png') }}" alt="" width="32" height="32"></a>
                <a href="http://twitter.com/titomiguelcosta" target="_blank"><img src="{{ asset('/images/social/twitter.png') }}" alt="" width="32" height="32"></a>
                <a href="{{ path('blog_feed') }}" target="_blank"><img src="{{ asset('/images/social/rss.png') }}" alt="" width="32" height="32"></a>

                <h2>Programming</h2>
                <ul class="unstyled">
                    <li><a href="https://www.upwork.com/o/profiles/users/_~011882782f9f04d09b/" target="_blank">UpWork</a></li>
                    <li><a href="https://github.com/titomiguelcosta?tab=activity" target="_blank">GitHub</a></li>
                    <li><a href="https://connect.sensiolabs.com/profile/titomiguelcosta" target="_blank">Symfony</a></li>
                    <li><a href="https://coderwall.com/titomiguelcosta" target="_blank">coderwall</a></li>
                    <li><a href="https://masterbranch.com/d/titomiguelcosta" target="_blank">MasterBranch</a></li>
                </ul>
                
                <h2>Chat</h2>
                <ul class="unstyled">
                    <li><strong>Skype</strong>: titomiguelcosta</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        /**
        * The callback function executed
        * once all the Google dependencies have loaded
        */
        function onGoogleReCaptchaApiLoad() {
            var widgets = document.querySelectorAll('[data-toggle="recaptcha"]');
            for (var i = 0; i < widgets.length; i++) {
                renderReCaptcha(widgets[i]);
            }
        }

        /**
        * Render the given widget as a reCAPTCHA 
        * from the data-type attribute
        */
        function renderReCaptcha(widget) {
            var form = widget.closest('form');
            var widgetType = widget.getAttribute('data-type');
            var widgetParameters = {
                'sitekey': '{{ gg_recaptcha_site_key }}'
            };

            if (widgetType == 'invisible') {
                widgetParameters['callback'] = function () {
                    form.submit()
                };
                widgetParameters['size'] = "invisible";
            }

            var widgetId = grecaptcha.render(widget, widgetParameters);

            if (widgetType == 'invisible') {
                bindChallengeToSubmitButtons(form, widgetId);
            }
        }

        /**
        * Prevent the submit buttons from submitting a form
        * and invoke the challenge for the given captcha id
        */
        function bindChallengeToSubmitButtons(form, reCaptchaId) {
            getSubmitButtons(form).forEach(function (button) {
                button.addEventListener('click', function (e) {
                    e.preventDefault();
                    grecaptcha.execute(reCaptchaId);
                });
            });
        }
        /**
        * Get the submit buttons from the given form
        */
        function getSubmitButtons(form) {
            var buttons = form.querySelectorAll('button, input');
            var submitButtons = [];

            for (var i= 0; i < buttons.length; i++) {
                var button = buttons[i];
                if (button.getAttribute('type') == 'submit') {
                    submitButtons.push(button);
                }
            }

            return submitButtons;
        }
    </script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=onGoogleReCaptchaApiLoad&render=explicit&hl={{app.request.locale}}" async defer></script>
{% endblock %}
