{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Exception
{% endblock %}

{% block body %}
    <div id="contacts" class="main">
        <div class="row-fluid">
            <div class="span8">
                <h1>Exception</h1>
                <p>Sorry, something wrong has just happened.</p>
                <p>The monkey has been informed and is dealing with the problem. If you would like to reinforce the alert and <a href="{{ path('contact') }}">contact him</a>, feel free to do so.</p>
                <p>Thanks.</p>
            </div>
            <div class="span4">
                <h2>Main sections</h2>
                <ul class="unstyled">
                    <li><a href="{{ path('profile') }}">Profile</a></li>
                    <li><a href="{{ path('projects') }}">Projects</a></li>
                    <li><a href="{{ path('code') }}">Code</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>

                <h2>Other resources</h2>
                <ul class="unstyled">
                    <li><a href="{{ path('blog_list') }}">Blog</a></li>
                    <li><a href="{{ path('music') }}">Music</a></li>
                    <li><a href="{{ path('photos') }}">Photos</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}