{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Exception
{% endblock %}

{% block body %}
    <div id="contacts" class="main">
        <div class="row-fluid">
            <div class="span8">
                <h1>Exception</h1>
                <p>Sorry, something unexpected has just happened.</p>
                <p>The monkeys has been informed and they are dealing with the problem. If you would like to notify them yourself, go ahead, <a href="{{ path('contact') }}">contact them</a>.</p>
            </div>
            <div class="span4">
                <h2>Menu</h2>
                <ul class="unstyled">
                    <li><a href="{{ path('profile') }}">Profile</a></li>
                    <li><a href="{{ path('projects') }}">Projects</a></li>
                    <li><a href="{{ path('code') }}">Code</a></li>
                    <li><a href="{{ path('contact') }}">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}