{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Profile
{% endblock %}

{% block body %}
    <div class="main">
        <div class="row-fluid">
            <div class="span8" itemscope itemtype="http://data-vocabulary.org/Person">
                <h1>Profile</h1>
                <p>My name is <span itemprop="name">Tito Miguel Costa</span>, I'm originally from <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="country-name">Portugal</span></span>, but currently settled in Amsterdam, The Netherlands. I'm a <span itemprop="title">senior backend engineer</span> for living.</p>
                
                <h2>Studies</h2>
                <p>Back in January 2007, I graduated in Science and Computer Technology at the <a href="https://www.uac.pt/" target="_blank">University of Azores</a>.</p>
                <p>In June 2011, I completed the first year studies of Master in Multimedia at the <a href="https://www.up.pt/" target="_blank">University of Oporto</a>.</p>

                <h2>Background</h2>
                <p>Since my early days as a coder, my passion revolved around web development. Started by scripting in plain old PHP code embed in HTML, all the way to applying modern patterns and methodologies, always favouring Open Source solutions.</p>
                <p>After experimenting with several frameworks in the PHP world, <a href="https://symfony.com" target="_blank">Symfony</a> has been my choice for the last couple of years now, using packages from <a href="https://framework.zend.com" target="_blank">Zend</a> and <a href="https://thephpleague.com/" target="_blank">The League of Extraordinary Packages</a> whenever fit for purpose.</p>
                <p>More recently, all thanks to machine learning, my programming language of preference tends towards Python, using <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, <a href="https://www.djangoproject.com/" target="_blank">Django</a> on my side projects.</p>

                <h2>Experience</h2>
                <p>I have developed a multitude of web applications and APIs, please take a look at some of my open source <a href="{{ path('projects') }}">projects</a> and <a href="{{ path('code') }}">code</a>.</p>

                <h2>Environment</h2>
                <p>Coding is just half of the challenge. With the raise of cloud computing and serverless solutions, applications have to be designed to take advantage of the new options out there. My focus is on <a href="https://aws.amazon.com/" target="_blank">AWS</a> and the vast services they offer.</p>
                <p>To avoid surprises when releasing, the local environment should match the production one, so in my recent projects I've been using <a href="https://www.docker.com/" target="_blank">Docker</a> and <a href="https://aws.amazon.com/ecs/getting-started/" target="_blank">ECS</a>, with <a href="https://github.com/features/actions" target="_blank">GitHub Actions</a> for CI/CD.</p>

                <h2>Hobbies</h2>
                <p>When I'm away from the computer, most likely I'll be doing sports. Swimming and tennis being on top of my preferences.</p>
                <p>I also like to play chess, you can meet on <a href="https://www.chess.com/members/view/titomiguelcosta" target="_blank">chess.com</a>. You are welcome to invite me for a game.</p>
            </div>

            <div class="span4">
                <h2>Contact</h2>
                <p>Feel free to <a href="{{ path('contact') }}">drop me a message</a>, share your side project and ideas. Collaborations are welcome.</p>
                
                <h2>CV</h2>
                <p>Take a look at my <a href="http://pt.linkedin.com/in/titomiguelcosta" target="_blank">CV on LinkedIn</a> or <a href="{{ asset('/pdf/TitoMiguelCosta-CV.pdf') }}">download a PDF</a> copy.</p>
            </div>
        </div>
    </div>
{% endblock %}