{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Projects
{% endblock %}

{% block body %}
    <div id="profile" class="main">
        <div class="row-fluid">
            <div class="span8">
                <h1>Projects</h1>
                <dl>
                    {% for project in in_progress %}
                    <dt><a href="{{ path('project', {'slug': project.getAttribute('slug')}) }}">{{ project.getElementsByTagName('name').item(0).nodeValue }}</a></dt>
                    <dd>{{ project.getElementsByTagName('presentation').item(0).nodeValue }}</dd>
                    {% endfor %}
                </dl>

                <h2>Deprecated</h2>
                <dl>
                    {% for project in deprecated %}
                        <dt><a href="{{ path('project', {'slug': project.getAttribute('slug')}) }}">{{ project.getElementsByTagName('name').item(0).nodeValue }}</a></dt>
                        <dd>{{ project.getElementsByTagName('presentation').item(0).nodeValue }}</dd>
                    {% endfor %}
                </dl>
                <hr>
            </div>
            <div class="span4">
                <h2>In progress</h2>
                <ul class="unstyled">
                {% for project in in_progress %}
                    <li><a href="{{ path('project', {'slug': project.getAttribute('slug')}) }}">{{ project.getElementsByTagName('name').item(0).nodeValue }}</a></li>
                {% endfor %}
                </ul>
                
                <h2>Blog</h2>
                <p>Check out my <a href="{{ path('blog_list') }}">blog</a>, find out what I'm up to, and share your thoughts in the comment section.</p>
            </div>
        </div>
    </div>
{% endblock %}