<h1>Tito Miguel Costa @ Work</h1>

<ul>
    <li><strong>Name:</strong> {{ data.name }}</li>
    <li><strong>E-mail:</strong> {{ data.email }}</li>
    <li><strong>Phone:</strong> {{ data.phone }}</li>
    <li><strong>Project:</strong> {{ data.project }}</li>
    <li><strong>Description:</strong> {{ data.description }}</li>
</ul>

<p>Sent at {{ date() | date('Y-m-d H:i:s')}}</p>