{% extends 'layout.twig' %}

{% block menu %}{% endblock %}

{% block slogan %}A pragmatic web developer with Symfony in mind{% endblock %}

{% block body %}
    <div id="home" class="yui3-g">
        <div class="yui3-u-1-3">
            <div class="content first">
                <p>Who am i? Get to know me a little better.</p>
                <a href="{{ path('profile') }}">&lt;Profile /&gt;</a>
            </div>
        </div>
        <div class="yui3-u-1-3">
            <div class="content second">
                <p>Check out some of my projects.</p>
                <a href="{{ path('projects') }}">&lt;Projects /&gt;</a>
            </div>
        </div>
        <div class="yui3-u-1-3">
            <div class="content third last">
                <p>My programming background and mottos.</p>
                <a href="{{ path('homepage') }}">&lt;Programming /&gt;</a>
            </div>
        </div>
        <div class="yui3-u-1-3">
            <div class="content fourth">
                <p>Testing new techonologies and tools.</p>
                <a href="{{ path('studies') }}">&lt;Studies /&gt;</a>
            </div>
        </div>
        <div class="yui3-u-1-3">
            <div class="content fifth">
                <p>Some of my thoughts and ideas.</p>
                <a href="{{ path('homepage') }}">&lt;Blog /&gt;</a>
            </div>
        </div>
        <div class="yui3-u-1-3">
            <div class="content sixth last">
                <p>A few of my inspirational and learning resources.</p>
                <a href="{{ path('links') }}">&lt;Links /&gt;</a>
            </div>
        </div>
        <div class="yui3-u-1-3">
            <div class="content seventh">
                <p>My presence on the web.</p>
                <a href="{{ path('homepage') }}">&lt;Social /&gt;</a>
            </div>
        </div>
        <div class="yui3-u-1-3">
            <div class="content eighth">
                <p>Let me know about your project. Let's do business together.</p>
                <a href="{{ path('work') }}">&lt;Work /&gt;</a>
            </div>
        </div>
        <div class="yui3-u-1-3">
            <div class="content ninth last">
                <p>Let me know your opinion. Leave me your comments.</p>
                <a href="{{ path('contact') }}">&lt;Contact /&gt;</a>
            </div>
        </div>
    </div>
{% endblock %}
