<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns#">
        <title>{% block title %}Tito Miguel Costa{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ app.request.basePath }}/favicon.ico" />
        <!-- meta tags -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="description" content="Tito Miguel Costa, Refactoring Ideas" />
        <meta name="keywords" content="tito,programming,php,symfony" />
        <meta name="author" content="Tito Miguel Costa <contact@titomiguelcosta.com>" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- open graph tags -->
        <meta property="og:title" content="Tito Miguel Costa, Refactoring Ideas" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ app.request.basePath }}/images/logo.png" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="256" />
        <meta property="og:image:height" content="256" />
        <meta property="og:description" content="Tito Miguel Costa, Refactoring Ideas" />

        <!-- javascript -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basePath }}/js/main.js" type="text/javascript"></script>

        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.6.0/build/cssreset/cssreset-min.css&3.6.0/build/cssgrids/cssgrids-min.css&3.6.0/build/cssfonts/cssfonts-min.css" />
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Enriqueta:400,700" />
        <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/css/purple.css" />
    </head>
    <body>
        {% block banner %}
        <div id="line" class="yui3-g">
            <div class="yui3-u-1-5 square first"></div>
            <div class="yui3-u-1-5 square second"></div>
            <div class="yui3-u-1-5 square third"></div>
            <div class="yui3-u-1-5 square fourth"></div>
            <div class="yui3-u-1-5 square fifth"></div>
        </div>
        <div id="banner">
        </div>
        {% endblock %}

        <div id="wrapper">
            <div id="contents" class="center">
                <header class="yui3-g">
                    <div class="yui3-u-2-5">
                        <a href="{{ path('homepage') }}"><img src="/images/logo-purple.png" align="left" alt="Tito Miguel Costa" width="70" height="56" /></a>
                        <div id="name"><a href="{{ path('homepage') }}"><span class="tags">&lt;</span>titomiguelcosta <span class="tags">/&gt;</span></a></div>
                        <div id="slogan">{% block slogan %}Refactoring Ideas{% endblock %}</div>
                    </div>
                    {% block menu %}
                        <div id="menu" class="yui3-u-3-5">
                            <ul class="inline">
                                <li class="first{% if path('contact') == app.request.getPathInfo() %} active{% endif %}"><a href="{{ path('contact') }}">Contact</a></li>
                                <li class="third{% if path('programming') == app.request.getPathInfo() %} active{% endif %}"><a href="{{ path('programming') }}">Programming</a></li>
                                <li class="second{% if path('projects') == app.request.getPathInfo() %} active{% endif %}"><a href="{{ path('projects') }}">Projects</a></li>
                                <li class="first{% if path('profile') == app.request.getPathInfo() %} active{% endif %}"><a href="{{ path('profile') }}">Profile</a></li>
                            </ul>
                        </div>
                    {% endblock %}

                </header>
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}
        <div id="footer">
            <footer class="center"><div id="credits">&copy; Tito Miguel Costa</div></footer>
        </div>
        {% endblock %}
    </body>
</html>
