{% extends 'layout.twig' %}

{% block body %}
    <div id="profile" class="main container">
        <div class="span8">
            <h1>{{ project.eq(0).text() }}</h1>
            <p><strong>{{ project.eq(1).text() }}</strong></p>
                {{ project.eq(2).text() | raw }}

            <p><a href="{{ project.eq(3).text()}}" target="_blank">{{ project.eq(3).text() }}</a></p>
            <small>{{ project.eq(4).text() }}</small>
        </div>
        <div class="span4">
            <h1>Other projects</h1>
            <ul class="unstyled">
                {% for project in projects %}
                    <li><a href="{{ path('project', {'slug': project.getAttribute('slug')}) }}">{{ project.getElementsByTagName('name').item(0).nodeValue }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}