{% extends 'layout.twig' %}

{% block body %}
    <div id="profile" class="main">
        <div class="yui3-g">
            <div class="yui3-u-2-3">
                <h1>Projects</h1>
                <dl>
                    {% for project in projects %}
                    <dt><a href="{{ path('project', {'slug': project.getAttribute('slug')}) }}">{{ project.getElementsByTagName('name').item(0).nodeValue }}</a></dt>
                    <dd>{{ project.getElementsByTagName('presentation').item(0).nodeValue }}</dd>
                    </li>
                    {% endfor %}
                </dl>
                <p></p>
            </div>
            <div class="yui3-u-1-3">
                <h2>In progress</h2>
                <ul class="unstyled">
                {% for project in in_progress %}
                    <li><a href="{{ path('project', {'slug': project.getAttribute('slug')}) }}">{{ project.getElementsByTagName('name').item(0).nodeValue }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}