{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Music
{% endblock %}

{% block body %}
    <div id="music" class="main">
        <div class="row-fluid">
            <div class="span12">
                <h1>Music</h1>
                <small>page {{ pages.current }} of {{ pages.pageCount }} in a total of {{ pages.totalItemCount }} videos</small>

                {% for video in videos %}
                    <h2>{{ video.getVideoTitle() }}</h2>
                    <iframe width="100%" height="330" src="http://www.youtube.com/embed/{{ video.getVideoId() }}" frameborder="0" allowfullscreen></iframe>
                    <hr>
                {% endfor %}

                {% include 'include/paginator.twig' with {'pages': pages, 'route': route} %}
            </div>
        </div>
    </div>
{% endblock %}