{% extends 'layout.twig' %}

{% block title %}
    {{ parent() }} | Blog | {{ post.eq(0).text() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ app.request.basePath }}/prettify/prettify.js" type="text/javascript"></script>
    <script type="text/javascript">$(function(){ prettyPrint(); });</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ app.request.basePath }}/prettify/prettify.css" />
{% endblock %}

{% block body %}
    <div id="blog" class="main">
        <div class="row-fluid">
            <div class="span8">
                <h1>{{ post.eq(0).text() }}</h1>
                <h2>{{ post.eq(1).text() }}</h2>

                {{ post.eq(2).text() | raw }}

                <small>{{ post.eq(4).text() }}</small>

                <h5><a href="{{ path('blog_category', {'category': post.eq(5).text()}) }}">{{ post.eq(5).text() | title }}</a></h5>
                <h6>{{ post.eq(6).text() }}</h6>

                <hr>
                <h2>Comments</h2>
                <div id="disqus_thread" class="prettyprint"></div>

                <script type="text/javascript">
                    var disqus_shortname = 'titomiguelcosta';
                    var disqus_title = '{{ post.eq(0).text() }}';
                    var disqus_category_id = 'Blog';
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript></noscript>
                <!--<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>-->

            </div>
            <div class="span4">
                <h1>Other posts</h1>
                <ul class="unstyled">
                    {% for post in posts %}
                        <li><a href="{{ path('blog_post', {'slug': post.getAttribute('slug')}) }}">{{ post.getElementsByTagName('title').item(0).nodeValue }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}