<h1>Exception on titomiguelcosta.com</h1>

<ul>
    <li>Path: {{ global.request.getPathInfo }}</li>
    <li>{{ class }}</li>
    <li>{{ exception }}</li>
    <li>{{ exception.message }}</li>
    <li>File: {{ exception.file }}</li>
    <li>Line: {{ exception.line }}</li>
    <li>Code: {{ exception.code }}</li>
    <li><pre>{{ exception.getTraceAsString }}</pre></li>
</ul>

<p>Thrown at {{ date() | date('Y-m-d H:i:s')}}</p>